---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


//------------------------------------------
/* _sass/minimal-mistakes/_variables.scss */
//------------------------------------------
/* system typefaces */
$sans-serif: 'Escoredream' !default;
$sans-serif-narrow: $sans-serif !default;

$right-sidebar-width-narrow: 100px !default;
$right-sidebar-width: 200px !default;
$right-sidebar-width-wide: 300px !default;

$doc-font-size: 14px;
$doc-font-size-medium: 14px;
$doc-font-size-large: 16px;
$doc-font-size-x-large: 18px;
$base-line-height: 1.8; // default 1.5


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.site-title {
  font-size: 16px; /* Example: adjust the value as needed */
}
.sidebar p, 
.sidebar li {
  font-size: 14px; /* Example: change to 14px */
  /* or use a theme variable, e.g., font-size: $type-size-5; */
}
.sidebar h2, 
.sidebar h3, 
.sidebar h4 {
  font-size: 12px; /* Example: change to 16px */
}
.sidebar .author__bio {
  font-size: 14px; /* Example: change to 18px */
}
.masthead__menu {
  font-size: 15px;
  /* You can also add other styles here, e.g., color: red; */
}
.toc__menu {
  font-size: 10px; // or another type-size variable
}


@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}